<div class="row">
  <div class="col-md-12">
    <h2>{{bookDetails.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6"><img src="{{bookDetails.image_url}}" alt=""></div>
  <div class="col-md-6">
    <h3>Author(s):</h3>
    <p >
      {{#each authors}}{{#if @index}}, {{/if}}<em>{{this}}</em>{{/each}}
    </p>


    <p>Pages: {{bookDetails.pages}}</p>
    <p>Rating: {{bookDetails.rating}} ({{bookDetails.review_count}})</p>
    <p>
      Genres:
      {{#each genres}}{{#if @index}}, {{/if}}{{this}}{{/each}}
    </p>

    <a href="/reviews/{{bookDetails.title}}"><button class="btn btn-info">Find Reviews</button></a>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-2">
    <a href="/"><button class="btn btn-dark"><i class="fas fa-home"></i> Home</button></a>
  </div>
</div>
