<h1>Letter {{alpha}}</h1>
<table>
  {{#each titles}}
    <tr>
      <td>
        <a href="/search/book/{{this.book_id}}">{{this.title}}</a>
      </td>
    </tr>
  {{/each}}
</table>
<div class="row">
    <div class="col-md-6 d-flex justify-content-end">
      {{#if showPrevious}}
      <form action="/search" method="get">
        <div class="form-group">
          <input type="hidden" name="offset" value="{{offsetBack}}">
        </div>
        <button name="alpha" value="{{alpha}}" class="btn btn-danger" type="submit">Previous</button>
      </form>
      {{/if}}
    </div>
  {{#if showNext}}
    <div class="col-md-6 d-flex justify-content-start">
      <form action="/search" method="get">
        <div class="form-group">
          <input type="hidden" name="offset" value="{{offsetNext}}">
        </div>
        <button name="alpha" value="{{alpha}}" class="btn btn-success" type="submit">Next</button>
      </form>
    </div>
  {{/if}}
</div>
<div class="row justify-content-end">
  <div class="col-2">
    <a href="/"><button class="btn btn-dark"><i class="fas fa-home"></i> Home</button></a>
  </div>
</div>
